@model List<CartItem>

@{
    var itemCount = Model.Any() ? Model.Count() : 0;
}


<section class="shoping-cart spad">
    <div class="container">
        
            
        <div id="empty-cart-div" style="display:@(itemCount == 0 ? "block" : "none")">

            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-6 p-4 text-center">
                    <section>
                        <div class="mb-4">
                            <h2 style="color: #7fad39;"><i class="fa fa-shopping-cart"></i> @ViewData["Title"]</h2>
                        </div>
                        <div>
                            <p class="lead">Your cart is empty.</p>
                        </div>
                        <div class="mt-4">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="site-btn">
                                <i class="fa fa-home"></i> Go to Home Page
                            </a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @* @foreach (var rp in relatedProducts)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@rp.ImageUrl">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">@rp.Name</a></h6>
                                    <h5>$@rp.Price</h5>
                                </div>
                            </div>
                        </div>
                    } *@

            </div>


        </div>



        <div id="cart-table-div" style="display:@(itemCount > 0 ? "block" : "none")">
            <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cart-table-body">

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <input type="hidden" class="product-id" value="@item.ProductId">
                                    <td class="shoping__cart__item">
                                        <img class="product-img" src="@item.Product.ImageUrl" alt="">
                                        <h5>@item.Product.Name</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        @item.UnitPrice TL
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <span class="dec qtybtn">-</span>
                                                <input class="item-count" type="text" value="@item.Quantity">
                                                <span class="inc qtybtn">+</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        @(item.UnitPrice * item.Quantity) TL
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                            }                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a asp-area="" asp-controller="Product" asp-action="Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form  id="coupon-form" action="#">
                            <input id="coupon-text" type="text" placeholder="Enter your coupon code">
                            <button id="coupon-button" type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Sepet Toplamı</h5>
                        <ul id="cart-total-list">
                        <li>Ara toplam <span  id="subtotal-span" class="sub-total"></span></li>
                        <li>Toplam <span id="total-span"></span></li>
                    </ul>
                    <a asp-area="" asp-controller="Cart" asp-action="Checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>

        </div>

    </div>
</section>
<!-- Shoping Cart Section End -->



<style>

    .product-img {
        width: 100px;
        height: 100px; 
        object-fit: contain;
        border-radius: 8px;
    }
</style>

@section Scripts{


    
    <script>









        ////////////////////////////   SAYFA YÜKLENDİĞİNDE ///////////////////////////777


        document.addEventListener("DOMContentLoaded", function(){


            ////////////////////// TOPLAM TUTARI GÖSTER /////////////////////
                const subTotalSpan = document.getElementById("subtotal-span");
                const totalSpan = document.getElementById("total-span");
                const couponButton = document.getElementById("coupon-button");
                const couponForm = document.getElementById("coupon-form");

           

                    fetch("/Cart/GetCartDetailsJSON")
                        .then(response => response.json())
                        .then(data => {
                            
                            const cartTotalList = document.getElementById("cart-total-list");
                            cartTotalList.innerHTML = ``;

                            const subTotalLi = document.createElement("li");
                                subTotalLi.innerHTML = `Ara toplam <span  id="subtotal-span" class="sub-total">${data.productCost.toFixed(2)} TL</span>`;

                            const totalLi = document.createElement("li");
                                totalLi.innerHTML = `Toplam <span id="total-span">${data.totalCost.toFixed(2)} TL</span>`;

                            const shippingFeeLi = document.createElement("li");
                            shippingFeeLi.id = "shipping-fee-li";

                            const discountLi = document.createElement("li");
                            discountLi.id = "discount-li";


                            if (data.isThereShippingFee) {
                                console.log("ship ");
                                shippingFeeLi.innerHTML = `Kargo Ücreti <span>${data.shippingFee.toFixed(2)} TL</span>`;
                            }
                            else {
                                    shippingFeeLi.innerHTML = `Kargo  <span style="color: #7fad39;"> Ücretsiz</span>`;
                            }

                            if (data.isThereDiscountCoupons){
                                    console.log("discount ");
                                    couponButton.disabled = true;
                                    couponButton.style.opacity = "0.6";
                                    couponButton.style.cursor = "not-allowed";
                                    discountLi.innerHTML = `İndirim <span style="color: #7fad39;">${data.discountAmount.toFixed(2)} TL</span>`;
                            }

                           
                            console.log(data);

                            cartTotalList.appendChild(subTotalLi);
                            cartTotalList.appendChild(shippingFeeLi);
                            if (data.isThereDiscountCoupons) {
                                cartTotalList.appendChild(discountLi);
                            }
                            cartTotalList.appendChild(totalLi);
                            

                        })
                        .catch(err => console.error(err));


        });

        /////////////////////////////////////////////////////////////////////////////////////

        ///////////////////////// Miktar değiştirildiğinde /////////////////////////////
        //// Butona Basılınca///////////

        document.addEventListener("click", function(event){
            console.log("Çalıştı");

            if (event.target.classList.contains("inc") || event.target.classList.contains("dec")){
                console.log("İf içerisindeyi<")
                //miktarı değiştir
                const row = event.target.closest("tr");
                const productId = row.querySelector(".product-id").value;
                const quantity = row.querySelector(".item-count").value;
                let neweQuantity =  parseInt(quantity, 10);
                    if (event.target.classList.contains("inc")){
                        console.log("Miktar arttı");
                        neweQuantity += 1;
                    }
                    else{
                        neweQuantity -= 1;
                    }
                



                fetch("/Cart/UpdateCartItem", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({ProductId: productId, Quantity: neweQuantity})
                })
                .then(response => response.json())
                .then(response => {
                    if (response.message){
                        Swal.fire({
                            title: "Başarılı!",
                            text: response.message,
                            icon: "success",
                            timer: 1000,
                            showConfirmButton: false
                        });
                    }

                    
                    if (response.data) {
                        refreshCartTable(response.data);
                        window.updateCartDiv();
                    }
                })
                .catch(error => {
                    console.error(error);
                    Swal.fire({
                        title: "Hata!",
                        text: "Miktar değişikliği gerçekleştirilemedi",
                        icon: "error"
                    });
                });


            } 

        });

        /////// Miktar Girilince///////////////

        document.addEventListener("change", function(event){

            if (event.target.classList.contains("item-count")){


                    const row = event.target.closest("tr");
                    const productId = row.querySelector(".product-id").value;
                    const quantity = row.querySelector(".item-count").value;



                    fetch("/Cart/UpdateCartItem", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({ProductId: productId, Quantity: quantity})
                    })
                    .then(response => response.json())
                    .then(response => {
                        if (response.message){
                            Swal.fire({
                                title: "Başarılı!",
                                text: response.message,
                                icon: "success",
                                timer: 1000,
                                showConfirmButton: false
                            });
                        }


                        if (response.data) {
                            refreshCartTable(response.data);
                            window.updateCartDiv();
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        Swal.fire({
                            title: "Hata!",
                            text: "Miktar değişikliği gerçekleştirilemedi",
                            icon: "error"
                        });
                    });


                }

            });

        ///////////////////////////////////////////////////////////////////////////////////////////
       
 
        ////Tabloyu yenileme Fonksiyonu /////
            function refreshCartTable(cartItems){
                const emptyDiv = document.querySelector("#empty-cart-div");
                const tableDiv = document.querySelector("#cart-table-div");
                const tbody = document.querySelector("#cart-table-body");

                if (!cartItems || cartItems.length === 0){
                    emptyDiv.style.display = "block";
                    tableDiv.style.display = "none";
                    return;
                }

                emptyDiv.style.display = "none";
                tableDiv.style.display = "block";

                tbody.innerHTML = ``;

                cartItems.forEach(item => {
                    const row = `
                        <tr>
                            <input type="hidden" class="product-id" value="${item.productId}">
                            <td class="shoping__cart__item">
                                <img class="product-img" src="${item.imageUrl}" alt="">
                                <h5>${item.productName}</h5>
                            </td>
                            <td class="shoping__cart__price">
                                    ${item.unitPrice.toFixed(2)} TL
                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                    <span class="dec qtybtn">-</span>
                                        <input class="item-count" type="text" value="${item.quantity}">
                                    <span class="inc qtybtn">+</span> 
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__total">
                                ${(item.unitPrice * item.quantity).toFixed(2)} TL
                            </td>
                            <td class="shoping__cart__item__close">
                                <span class="icon_close"></span>
                            </td>
                        </tr>`;
                    tbody.innerHTML += row;
                });

                        const subTotalSpan = document.getElementById("subtotal-span");
                        const totalSpan = document.getElementById("total-span");
                        const couponButton = document.getElementById("coupon-button");
                        const couponForm = document.getElementById("coupon-form");

                        fetch("/Cart/GetCartDetailsJSON")
                            .then(response => response.json())
                            .then(data => {

                                const cartTotalList = document.getElementById("cart-total-list");
                                cartTotalList.innerHTML = ``;

                                const shippingFeeLi = document.createElement("li");
                                shippingFeeLi.id = "shipping-fee-li";

                                const discountLi = document.createElement("li");
                                discountLi.id = "discount-li";


                                if (data.isThereShippingFee) {
                                    shippingFeeLi.innerHTML = `Kargo Ücreti <span>${data.shippingFee.toFixed(2)} TL</span>`;
                                }
                                else {
                                        shippingFeeLi.innerHTML = `Kargo  <span style="color: #7fad39;"> Ücretsiz </span>`;
                                }

                                if (data.isThereDiscountCoupons){
                                        couponButton.disabled = true;
                                        couponButton.style.opacity = "0.6";
                                        couponButton.style.cursor = "not-allowed";
                                        discountLi.innerHTML = `İndirim <span style="color: #7fad39;">${data.discountAmount.toFixed(2)} TL</span>`;
                                }

                                const subTotalLi = document.createElement("li");
                                subTotalLi.innerHTML = `Ara toplam <span  id="subtotal-span" class="sub-total">${data.productCost.toFixed(2)} TL</span>`;

                                const totalLi = document.createElement("li");
                                totalLi.innerHTML = `Toplam <span id="total-span">${data.totalCost.toFixed(2)} TL</span>`;

                                cartTotalList.appendChild(subTotalLi);
                                cartTotalList.appendChild(shippingFeeLi);
                                if (data.isThereDiscountCoupons) {
                                    cartTotalList.appendChild(discountLi);
                                }
                                cartTotalList.appendChild(totalLi);


                            })
                            .catch(err => console.error(err));


            }
       

        

    //////////////////////////////// KUPON UYGULAMA ////////////////////////////7
    const couponButton = document.getElementById("coupon-button");
    const couponForm = document.getElementById("coupon-form");
    couponForm.addEventListener("submit", function(event){

        event.preventDefault();

        const couponCode = document.getElementById("coupon-text").value;
        const cartTotalList = document.getElementById("cart-total-list");

           fetch(`/Cart/VerifyCoupon?couponName=${encodeURIComponent(couponCode)}`)
            .then(res => res.json())
            .then(data => {
                if (data.isValid){
                    Swal.fire({
                        title: "Başarılı!",
                        text: data.message,
                        icon: "success",
                        timer: 1500,
                        showConfirmButton: false
                    });

                    couponButton.disabled = true;
                    couponButton.style.opacity = "0.6";
                    couponButton.style.cursor = "not-allowed";
                }

                else{
                    Swal.fire({
                        title: "Hata!",
                        text: data.message,
                        icon: "error",
                        timer: 1500,
                        showConfirmButton: false

                    });
                }
            })







    });


    </script>


}