@model List<CartItem>

@{
    var itemCount = Model.Any() ? Model.Count() : 0;
}


<section class="shoping-cart spad">
    <div class="container">
        
            
        <div id="empty-cart-div" style="display:@(itemCount == 0 ? "block" : "none")">

            <div class="d-flex justify-content-center align-items-center">
                <div class="col-md-6 p-4 text-center">
                    <section>
                        <div class="mb-4">
                            <h2 style="color: #7fad39;"><i class="fa fa-shopping-cart"></i> @ViewData["Title"]</h2>
                        </div>
                        <div>
                            <p class="lead">Your cart is empty.</p>
                        </div>
                        <div class="mt-4">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="site-btn">
                                <i class="fa fa-home"></i> Go to Home Page
                            </a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @* @foreach (var rp in relatedProducts)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="@rp.ImageUrl">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">@rp.Name</a></h6>
                                    <h5>$@rp.Price</h5>
                                </div>
                            </div>
                        </div>
                    } *@

            </div>


        </div>



        <div id="cart-table-div" style="display:@(itemCount > 0 ? "block" : "none")">
            <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cart-table-body">

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <input type="hidden" class="product-id" value="@item.ProductId">
                                    <td class="shoping__cart__item">
                                        <img class="product-img" src="@item.Product.ImageUrl" alt="">
                                        <h5>@item.Product.Name</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        $@item.UnitPrice
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input class="item-count" type="text" value="@item.Quantity">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        $@(item.UnitPrice * item.Quantity)
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                            }                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" id="update-btn" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form  id="coupon-form" action="#">
                            <input id="coupon-text" type="text" placeholder="Enter your coupon code">
                            <button id="coupon-button" type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span class="cart-total"></span></li>
                        <li>Total <span class="cart-total"></span></li>
                    </ul>
                    <a href="#" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>

        </div>

    </div>
</section>
<!-- Shoping Cart Section End -->



<style>

    .product-img {
        width: 100px;
        height: 100px; 
        object-fit: contain;
        border-radius: 8px;
    }
</style>

@section Scripts{


    
    <script>









        ////////////////////////////   SAYFA YÜKLENDİĞİNDE ///////////////////////////777


        document.addEventListener("DOMContentLoaded", function(){


            ////////////////////// TOPLAM TUTARI GÖSTER /////////////////////
            const totalSpans = document.querySelectorAll(".cart-total");

            fetch("/Cart/GetCartDetailsJSON")
                .then(response => response.json())
                .then(data => {
                    totalSpans.forEach(span => {
                        span.textContent = `$${data.totalCost}`;
                    });
                })
                .catch(err => console.error(err));


        });

        /////////////////////////////////////////////////////////////////////////////////////

        ///////////////////////// Miktar değiştirildiğinde /////////////////////////////
        //// Butona Basılınca///////////

        document.addEventListener("click", function(event){
            console.log("Çalıştı");

            if (event.target.classList.contains("inc") || event.target.classList.contains("dec")){
                console.log("İf içerisindeyi<")
                //miktarı değiştir
                const row = event.target.closest("tr");
                const productId = row.querySelector(".product-id").value;
                const quantity = row.querySelector(".item-count").value;



                fetch("/Cart/UpdateCartItem", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({ProductId: productId, Quantity: quantity})
                })
                .then(response => response.json())
                .then(response => {
                    if (response.message){
                        Swal.fire({
                            title: "Başarılı!",
                            text: response.message,
                            icon: "success",
                            timer: 1000,
                            showConfirmButton: false
                        });
                    }

                    
                    if (response.data) {
                        refreshCartTable(response.data);
                        window.updateCartDiv();
                    }
                })
                .catch(error => {
                    console.error(error);
                    Swal.fire({
                        title: "Hata!",
                        text: "Miktar değişikliği gerçekleştirilemedi",
                        icon: "error"
                    });
                });


            } 

        });

        /////// Miktar Girilince///////////////

        document.addEventListener("change", function(event){

            if (event.target.classList.contains("item-count")){


                    const row = event.target.closest("tr");
                    const productId = row.querySelector(".product-id").value;
                    const quantity = row.querySelector(".item-count").value;



                    fetch("/Cart/UpdateCartItem", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({ProductId: productId, Quantity: quantity})
                    })
                    .then(response => response.json())
                    .then(response => {
                        if (response.message){
                            Swal.fire({
                                title: "Başarılı!",
                                text: response.message,
                                icon: "success",
                                timer: 1000,
                                showConfirmButton: false
                            });
                        }


                        if (response.data) {
                            refreshCartTable(response.data);
                            window.updateCartDiv();
                        }
                    })
                    .catch(error => {
                        console.error(error);
                        Swal.fire({
                            title: "Hata!",
                            text: "Miktar değişikliği gerçekleştirilemedi",
                            icon: "error"
                        });
                    });


                }

            });

        ///////////////////////////////////////////////////////////////////////////////////////////
       
 
        ////Tabloyu yenileme Fonksiyonu /////
            function refreshCartTable(cartItems){
                const emptyDiv = document.querySelector("#empty-cart-div");
                const tableDiv = document.querySelector("#cart-table-div");
                const tbody = document.querySelector("#cart-table-body");

                if (!cartItems || cartItems.length === 0){
                    emptyDiv.style.display = "block";
                    tableDiv.style.display = "none";
                    return;
                }

                emptyDiv.style.display = "none";
                tableDiv.style.display = "block";

                tbody.innerHTML = ``;

                cartItems.forEach(item => {
                    const row = `
                        <tr>
                            <input type="hidden" class="product-id" value="${item.productId}">
                            <td class="shoping__cart__item">
                                <img class="product-img" src="${item.imageUrl}" alt="">
                                <h5>${item.productName}</h5>
                            </td>
                            <td class="shoping__cart__price">
                                $${item.unitPrice}
                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty"><span class="dec qtybtn">-</span>
                                        <input class="item-count" type="text" value="${item.quantity}">
                                    <span class="inc qtybtn">+</span></div>
                                </div>
                            </td>
                            <td class="shoping__cart__total">
                                $${item.unitPrice * item.quantity}
                            </td>
                            <td class="shoping__cart__item__close">
                                <span class="icon_close"></span>
                            </td>
                        </tr>`;
                    tbody.innerHTML += row;
                });
            }

       


    //////////////////////////////// KUPON UYGULAMA ////////////////////////////7

    const couponForm = document.getElementById("coupon-form");
    couponForm.addEventListener("submit", function(event){

        event.preventDefault();

        const couponCode = document.getElementById("coupon-text").value;

           fetch(`/Cart/VerifyCoupon?couponName=${encodeURIComponent(couponCode)}`)
            .then(res => res.json())
            .then(data => {
                if (data.isValid){
                    Swal.fire({
                        title: "Başarılı!",
                        text: data.message,
                        icon: "success",
                        timer: 1500,
                        showConfirmButton: false
                    });
                }
            })

        const couponButton = document.getElementById("coupon-button");
        couponButton.disabled = true;

        couponButton.style.opacity = "0.6";
        couponButton.style.cursor = "not-allowed";



    })


    </script>


}