@using ECommerce.Models
@model Order

@{
    ViewData["Title"] = "Siparişiniz ALındı";
    var items = Model.OrderItems;
}

<h2 style="color:#7fad39; font-weight:800">Siparişiniz alındı 🎉</h2>



<section class="shoping-cart spad">
    <div class="container">


            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Ürünler</th>
                                    <th>Ücret</th>
                                    <th>Miktar</th>
                                    <th>Toplam</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="cart-table-body">

                                @foreach (var item in items)
                                {
                                    <tr>
                                        <input type="hidden" class="product-id" value="@item.ProductId">
                                        <td class="shoping__cart__item">
                                            <img class="product-img" src="@item.Product.ImageUrl" alt="">
                                            <h5>@item.Product.Name</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.UnitPrice TL
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                <input class="item-count" type="text" value="@item.Quantity" disabled>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            @(item.UnitPrice* item.Quantity) TL
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">   
                <div class="col-lg-12">
                    <div class="shoping__checkout">
                        <h5>Sepet Toplamı</h5>
                        <ul id="cart-total-list">
                            <li>Ara toplam <span >@Model.TotalTLAmount TL</span></li>
                        @if (Model.ShippingFee != 0) 
                        {
                            <li>Kargo Ücreti<span>@Model.ShippingFee TL</span></li>
                        }
                        else
                        {
                            <li>Kargo Ücreti<span class="span-discount">ÜCRETSİZ</span></li>
                        }
                        @if(Model.DiscountAmount != 0)
                        {
                            <li>İndirim <span  class="span-discount">@Model.DiscountAmount TL</span></li>
                        }
                        <li>Sipariş Tutarı <span>@Model.FinalAmount TL</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


</section>
<!-- Shoping Cart Section End -->



<style>

    .product-img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 8px;
    }
</style>